{% extends 'layout.twig.html' %}

{% import 'templates/form.twig.html' as form %}

{% block headtitle %}
    {{ post.title }}
{% endblock %}

{% block metaDescription %}
{{ post.hook }}
{% endblock %}

{% block headerImage %}
    <div class="cover" style="background-image: url('{{ base_url }}public/img/repository/{{ post.mainPicture }}');"></div>
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block grip %}
    {{ post.hook }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url }}public/js/comment.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <a href="{{ base_url }}blog" class="btn btn-default">Retour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="text-right">
                <span class="small text-muted">
                    Par <em>{{ post.author }}</em>
                </span>
                <br/>
                <span class="small text-muted">
                    Mis à jour le {{ post.dateUpdate }}
                </span>
            </div>
            <h2 class="section-heading">{{ post.title }}</h2>
            <ul class="list-inline">
                {% for tag in tags %}
                    <li class="small">
                        <a href="{{ base_url }}{{ tag.url }}" class="text-primary"><span class="fa fa-tag"></span> {{ tag.label }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="well">
                {{ post.hook }}
            </div>
            <hr/>
            {{ post.HTMLContent | raw }}
            <div class="col-xs-6">
                <a href="{{ base_url }}blog/post/like/{{ post.id }}" class="btn btn-default">
                    <span class="fa fa-heart"></span> J'aime
                    {% if post.nbLikes > 0 %}
                        ({{ post.nbLikes }})
                    {% endif %}
                </a>
            </div>            
            <div class="col-xs-6 text-right">
                <a href="{{ base_url }}admin/post/edit/{{ post.id }}" class="btn btn-default">Modifier</a>
            </div>
        </div>
    </div>
    
    {% if post.commentsEnabled %}
        <hr />
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">Commentaires ({{ post.nbComments }})</h3>            
                {% if comments is empty %}
                    <p class="h4">Cet article ne comporte encore aucun commentaire. Soyez le premier à en écrire un :)</p>                
                {% endif %}

                <ul class="list-unstyled">
                    {% for comment in comments %}
                        <li>
                            <hr/>
                            <span>
                                <b>{{ comment.author }}</b><span class="small text-muted"> - {{ comment.dateInsert }}</span>
                            </span><br/>
                            <span>{{ comment.content }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <hr />
                <form method="POST" action="">
                    {{ form.input('author', 'Votre nom/pseudo') }}
                    {{ form.textarea('content', 'Votre commentaire') }}
                    {{ form.hiddenInput('blogPostId', post.id) }}
                    {{ form.hiddenInput('token', token) }}
                    {{ form.submit('Envoyer', { inputClass: 'btn btn-primary submit' }) }}
                </form>
                <hr />          
            </div>
        </div>
    {% endif %}  
{% endblock %}