/* MIXINS */
.display-flex, .flex-align {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.flex-align {
  align-items: center;
  justify-content: center; }

a:hover {
  text-decoration: none; }

#alert {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all, 0.8s;
  -moz-transition: all, 0.8s;
  transition: all, 0.8s; }
  #alert.shown {
    top: 0; }
  #alert.alert-success {
    border-color: #19B99A;
    background: #20A286;
    color: #fff; }
  #alert.alert-error {
    border-color: #B63E5A;
    background: #E26868;
    color: #fff; }

.cover {
  height: 448px;
  background: center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .cover:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    .cover {
      height: 280px; } }

.intro-header .site-heading h1, .intro-header .site-heading .subheading, .navbar .navbar-nav > li > a {
  text-shadow: 1px 3px 3px #383838; }

.navbar .navbar-nav > li > a:hover {
  color: #FFF !important;
  text-shadow: 1px 5px 3px #383838; }

@media (max-width: 767px) {
  .navbar a {
    text-shadow: none; }
    .navbar a:hover {
      color: #5e5e5e !important;
      text-shadow: none; }
  .intro-header .site-heading h1 {
    font-size: 18px; }
  .intro-header .site-heading .subheading {
    font-size: 15px; }
  .grid p {
    font-size: 15px; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #FFF; }

.grid p {
  margin: 0 0 10px; }

.home h2 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 0; }

.home .avatar {
  background: url("../img/avatar.jpg") no-repeat;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px auto 10px;
  border: 2px solid #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.home .row {
  margin: 15px -15px; }

.posts .post {
  min-height: 400px;
  max-height: 400px;
  height: 400px;
  margin-top: 30px; }
  .posts .post .wrapper {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 100%; }
    .posts .post .wrapper a.cover-img {
      display: block;
      width: 100%;
      height: 20%;
      height: -moz-calc(100% - 230px);
      height: -webkit-calc(100% - 230px);
      height: calc(100% - 230px);
      background-size: 110%;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-border-top-left-radius: 3px;
      -moz-border-top-left-radius: 3px;
      -ms-border-top-left-radius: 3px;
      o-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-top-right-radius: 3px;
      -ms-border-top-right-radius: 3px;
      o-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .posts .post .wrapper .text {
      padding: 0 15px 15px;
      position: relative;
      height: 80%;
      height: -moz-calc(100% - 165px);
      height: -webkit-calc(100% - 165px);
      height: calc(100% - 165px); }
      .posts .post .wrapper .text h3 {
        margin-top: 10px; }
      .posts .post .wrapper .text a.more {
        position: absolute;
        top: 77%;
        right: 3%; }
    .posts .post .wrapper:hover a.cover-img {
      background-size: 100%; }
