{% extends 'layout.twig.html' %}

{% block headtitle %}
	Accès interdit
{% endblock %}

{% block headerImage %}
	<div class="cover" style="background-image: url('{{ base_url }}public/img/error.gif'); background-position: top center;"></div>
{% endblock %}

{% block title %}
	Oops
{% endblock %}

{% block grip %}
	Vous êtes perdu(e) ?
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 text-center">
			<p>
				Vous n'êtes pas autorisé(e) à consulter cette page.
			</p>
		</div>
	</div>
{% endblock %}