{% extends 'admin/layout.twig.html' %}

{% import 'templates/form.twig.html' as form %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url }}vendor/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/ckeditor.manager.js"></script>
    
    <script type="text/javascript" src="{{ base_url }}public/js/lib/select2.min.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/select2.manager.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/blogpost.js"></script>
{% endblock %}

{% block style %}
   	<link href="{{ base_url }}public/css/lib/select2.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{{ base_url }}admin/posts" class="btn btn-default">
				<span class="fa fa-list"></span> Retour à la liste
			</a>
			<h2>
				Modifier l'article : {{ post.title }}
				<a href="{{ base_url }}blog/post/{{ post.id }}" target="_blank" title="Voir l'article">
					<span class="fa fa-external-link"></span>
				</a>
			</h2>
			<p class="text-right">
				<small class="text-right">Dernière modification : {{ post.date_update }}</small>
			</p>
			<p>
				Remplissez le formulaire ci-dessous pour modifier un article.
			</p>
		</div>
	</div>
	<hr />
	<div class="row blogpost-form">
		<form method="POST" action="" class="form" enctype="multipart/form-data">
			<div class="col-md-8 col-lg-9">
				{{ form.input('title', 'Titre', { class: 'col-xs-12', value: post.title } ) }}
				{{ form.textarea('hook', 'Chapô', { class: 'col-xs-12', value: post.hook }) }}
				{{ form.textarea('content', 'Contenu', { class: 'col-xs-12', value: post.HTMLContent }) }}
				{{ form.select('tags', 'Tags (max. 3)', tags, 'id', 'label', { class: 'col-xs-12', multiple: true, insertBlank: false }) }}
				{{ form.hiddenInput('token', token) }}
				{{ form.submit('Sauvegarder', { class: 'col-xs-12', inputClass: 'btn btn-primary submit' }) }}
			</div>
			<div class="col-md-4 col-lg-3">
				{{ form.inputFileImg('picture', 'Image principale', base_url~picture_repository~post.main_picture, { class: 'filled' }) }}
				{{ form.input('author', 'Auteur', { value: post.author }) }}
				{{ form.checkbox('visible', 'Rendre public', { checked: post.visible }) }}
				{{ form.checkbox('comments_enabled', 'Activer commentaires', { checked: post.comments_enabled }) }}
			</div>
		</form>
		{% if comments %}
			<div class="col-xs-12">
				<h3>Commentaires</h3>
				{% for comment in comments %}
					<div class="panel panel-default">
						<div class="panel-heading">
							{% if not comment.published %}
								<span class="fa fa-eye-slash" title="En attente de validation"></span> |
							{% endif %}
							{% if comment.published %}
								<span class="fa fa-eye" title="Publié"></span> |
							{% endif %}
							 <b>De : </b>{{ comment.author }} - <span class="small text-muted">{{ comment.date_insert }}</span>
						</div>
						<div class="panel-body">
							<p><b>Message : </b>{{ comment.content }}</p>
						</div>
						<div class="panel-footer">
							{% if not comment.published %}
								<form method="POST" action="{{ base_url }}admin/comments/validate">
									{{ form.hiddenInput('comment_id', comment.id) }}
									{{ form.hiddenInput('from', 'blogpostEdit') }}
									{{ form.hiddenInput('blogpostId', post.id) }}
									{{ form.hiddenInput('token', token) }}
									<button type="submit" class="btn btn-success">
										<span class="fa fa-check"></span> Valider
									</button>
								</form>
							{% endif %}
							<form method="POST" action="{{ base_url }}admin/comments/delete">
								{{ form.hiddenInput('comment_id', comment.id) }}
								{{ form.hiddenInput('from', 'blogpostEdit') }}
								{{ form.hiddenInput('blogpostId', post.id) }}
								{{ form.hiddenInput('token', token) }}
								<button type="submit" class="btn btn-danger">
									<span class="fa fa-trash"></span> Supprimer
								</button>
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}