{% extends 'admin/layout.twig.html' %}

{% import 'templates/form.twig.html' as form %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url }}vendor/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/ckeditor.manager.js"></script>
    
    <script type="text/javascript" src="{{ base_url }}public/js/lib/select2.min.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/select2.manager.js"></script>
    <script type="text/javascript" src="{{ base_url }}public/js/admin/blogpost.js"></script>
{% endblock %}

{% block style %}
   	<link href="{{ base_url }}public/css/lib/select2.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{{ base_url }}admin/posts" class="btn btn-default">
				<span class="fa fa-list"></span> Retour à la liste
			</a>
			<h2>Ajouter un article</h2>
			<p>
				Remplissez le formulaire ci-dessous pour ajouter un article.
			</p>
		</div>
	</div>
	<hr />	
	<div class="row blogpost-form">
		<form method="POST" action="" class="form" enctype="multipart/form-data">
			<div class="col-md-8 col-lg-9">
				{{ form.input('title', 'Titre', { class: 'col-xs-12', value: data.title }) }}
				{{ form.textarea('hook', 'Chapô', { class: 'col-xs-12', value: data.hook }) }}
				{{ form.textarea('content', 'Contenu', { class: 'col-xs-12', value: data.HTMLContent }) }}
				{{ form.select('tags', 'Tags (max. 3)', tags, 'id', 'label', { class: 'col-xs-12', multiple: true, insertBlank: false }) }}				
				{{ form.hiddenInput('token', token) }}
				{{ form.submit('Sauvegarder', { class: 'col-xs-12', inputClass: 'btn btn-primary submit' }) }}
			</div>
			<div class="col-md-4 col-lg-3">
				{{ form.inputFileImg('picture', 'Image principale', null, { class: 'empty' }) }}
				{{ form.checkbox('visible', 'Rendre public', { checked: data.visible }) }}
				{{ form.checkbox('comments_enabled', 'Activer commentaires', { checked: data.comments_enabled }) }}
				{{ form.input('author', 'Auteur', { value: data.author }) }}
			</div>
		</form>
	</div>	
{% endblock %}