{% extends 'admin/layout.twig.html' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2>Dashboard</h2>
			<p>
				Bienvenue sur la console d'administration du blog. Sélectionnez ci-dessous la section qui vous intéresse.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">Articles</span>
				</div>
				<div class="panel-body">
					Ajouter, modifier ou supprimer des articles.
				</div>
				<div class="panel-footer">
					<a href="{{ base_url }}admin/posts">Choisir</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">Commentaires</span>
					<div class="badge">
						{{ commentsCount }}
					</div>
				</div>
				<div class="panel-body">
					Valider ou supprimer des commentaires.
				</div>
				<div class="panel-footer">
					<a href="{{ base_url }}admin/comments">Choisir</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="h4">Tags</span>
				</div>
				<div class="panel-body">
					Ajouter, modifier ou supprimer des tags.
				</div>
				<div class="panel-footer">
					<a href="{{ base_url }}admin/tags">Choisir</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}